* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
    --primary-color: rgb(253, 65, 65);
    --primary-bg-color: antiquewhite;
    --primary-heading-color: rgb(90, 89, 89);
}

body {
    margin-top: 2vh;
    background-color: var(--primary-bg-color);
}

/* Nav */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: antiquewhite;
    margin-left: 100vh;
    border: 1px solid palevioletred;
    padding: 8px 80px;
    border-radius: 5vh;
}

nav img {
    width: 3vh;
    cursor: pointer;
}

nav a {
    list-style: none;
    color: black;
    text-decoration: none;
    margin-left: 2vh;
    padding: 5px 10px;
    transition: .3s;
}

nav a:hover {
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 5px;
}

/* Banner  */
.banner-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.banner-con .banner-title a {
    text-decoration: none;
}

.banner-con .banner-title .title {
    font-size: 2.5em;
}

.banner-con .banner-title .description {
    width: 70%;
    color: var(--primary-color)
}

.banner-img img {
    width: 90%;
}

.btn-primary {
    border: none;
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: rgb(26, 26, 26);
    color: white;
    cursor: pointer;
}

/* Banner Responsive for Small Devices */
@media screen and (max-width: 572px) {
    .banner-con {
        flex-direction: column-reverse;
    }

    .banner-con .banner-title .description {
        width: 100%;
        color: rgb(110, 110, 110);
        text-align: center;
    }

    .banner-con .banner-title {
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 572px) and (max-width: 992px) {
    .banner-con {
        flex-direction: column-reverse;
    }

    .banner-con .banner-title .description {
        width: 100%;
        color: rgb(110, 110, 110);
        text-align: center;
    }

    .banner-con .banner-title {
        text-align: center;
        width: 100%;
    }
}

/* Product Part */
.product-div {
    text-align: center;
    color: var(--primary-heading-color);
    line-height: 1.2em
}

.product-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.0em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.product-con .product {
    text-align: center;
    width: 100%;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: .5em;

}

.product-con .product img {
    width: 50%;
}

.product-con .product .special::before {
    color: rgb(4, 107, 0);
    content: "Authorized";
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 20%;
}

/* Medium Device */
@media screen and (max-width: 1700px) {
    .product-con {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}

/* Medium Device */
@media screen and (min-width: 572px) and (max-width: 992px) {
    .product-con {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

/* Smaller Device */
@media screen and (max-width: 572px) {
    .product-con {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

/* Login page division */
.user-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-left-side {
    position: relative;
    left: 10vh;
    top: 10vh;
}

.login-container {
    position: relative;
    left: 3vh;
    top: 5vh;
    height: 60vh;
    width: 50vh;
    background-image: url(./image/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.login-container .login-form-items img {
    width: 12em;
    height: 12em;
    position: relative;
    left: 14vh;
    top: 6vh;
    opacity: 0.7;
}

.login-container .login-form-items .name-pass {
    position: relative;
    top: 10vh;
    width: 60%;
    left: 10vh;
    display: flex;
    flex-direction: column;
}

.login-container .login-form-items .name-pass input {
    height: 4vh;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
    outline: none;
    text-align: center;
    background-color: var(--primary-bg-color);
    color: var(--primary-heading-color);
}

.login-container .login-form-items .remember-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    top: 11vh;
    color: white;
    font-size: .9em;
}

.login-container .login-form-items .remember-me a {
    text-decoration: none;
    color: cadetblue;
    font-size: .9em;
    margin-top: 10vh;
}

.login-container .login-form-items .btn-primary {
    position: relative;
    left: 18vh;
    top: 1vh;
    padding: 1vh 4vh;
}

@media screen and (max-width: 572px) {
    .user-login {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        right: 3vh;
    }

    .login-left-side {
        visibility: hidden;
    }

}

@media screen and (min-width: 572px) and (max-width: 992px) {
    .user-login {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        right: 3vh;
        top: -10vh;
    }

    .login-left-side {
        visibility: hidden;
    }

    .login-container {
        position: relative;
        left: 3vh;
        top: 5vh;
        height: 80vh;
        width: 50vh;
        background-image: url(./image/login-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgb(214, 214, 214);
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    }
}

/* Logout Page */
.logout-page {
    text-align: center;
    padding-top: 20vh;
}

.logout-page a {
    text-decoration: none;
}